@media screen and (min-width: 480px){ 
    .container{ 
      max-width: 428px;
      padding-right: 15px;
    padding-left: 15px;
}

.mobile-nav {
  margin-bottom: auto;
}
.mobile-contact-tel {
  font-size: 24px;
}
    }
    
    
    