@media screen and (min-width: 480px){ 
  
  

.mobile-nav {
  margin-bottom: auto;
}

    }
    @media screen and (min-width: 479px){ 
  
      .modal {
          max-width: 408px;
          width: 100%;
      }
     }

     @media screen and (min-width: 420px){
      .mobile-contact-tel {
        
        font-size: 36px;
     }
     .mobile-social {
      display: flex;
      justify-content: flex-start;
      gap: 24px;
    }
   }
    